---
layout: layouts/base.ejs
---

<article>
  <header>
    <h1><%= title %></h1>
    <div>
      <%= this.dateFns.format(new Date(date), 'LLLL d, yyyy') %>
    </div>
  </header>

  <section><%- content %></section>
</article>
